footer,
header {
    position: relative;
    z-index: 1;
    width: 100vw;
}
main{
    position:relative;
    z-index: 1;
}
.timer-bg{
    width: 100vw;
    background:lightgreen;
    position: fixed;
    z-index: 0;
    bottom:0;
    left:0;
    height: 0vh;
}
.top-bar,
.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100vw;

  /*Styling text*/
  font-family: "Roboto slab";
  font-weight: 900;
  text-align: center;

  color: #000;
}
.bottom-bar {
  padding: 0px;
  font-family: sans-serif;
  font-weight: 400;
}

a {
  color: #000;
}
a:hover {
  color: #000;
}

.timer-div {
  display: flex;
  flex-direction: column;
}
.button-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.timer-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto slab';
}
.btn {
  margin:10px;
}
h1 {
  font-size: 30vw;
}
.min {
  font-weight: 900;
  font-size: 15vw;
}

@media(max-width:400px){
    h1{font-size: 60vw;}
    .min{font-weight:30vw;}
}
@media(max-width:500px){
    h1{font-size: 57vw;}
    .min{font-weight:28.5vw;}
}